[submodule "test/calculator"]
	path = test/calculator
	url = https://github.com/architect-team/calculator-sample-project.git
[submodule "examples/gcp-microservices-demo"]
	path = examples/gcp-microservices-demo
	url = https://github.com/architect-team/microservices-demo.git
