*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
node_modules
.test
.idea
architect_services
oclif.manifest.json
*.env
.DS_Store
tsconfig.tsbuildinfo
creds.json
test/sentry-history.json
.npmrc
/test/webpack/lib
posthog.json
