name: Dependency Manager - Cut Release Candidate

on: push

env:
  CI: true
  PRERELEASE_PREFIX: rc
  NPM_CACHE_NAME: dependency-manager-node-modules

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: Setup Node.js
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: '12.x'
      # - run: npm install
      #   working-directory: ./src/dependency-manager
      # - run: npm run lint
      #   working-directory: ./src/dependency-manager
  test:
    strategy:
      matrix:
        node-version: [10.x, 11.x, 12.x]
        # Tmp removing windows-latest because github actions isn't triggering
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: ./src/dependency-manager
      - run: npm test
        working-directory: ./src/dependency-manager
  cut_release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm install
        working-directory: ./src/dependency-manager
      - run: npm run build
        working-directory: ./src/dependency-manager
      - name: Bump NPM version
        id: npm-version-bump
        run: |
          npm version prerelease --git-tag-version=false --preid=${PRERELEASE_PREFIX}
          git config --global user.name "Github Actions"
          git config --global user.email "bot@architect.io"
          git add package.json package-lock.json
          git commit -m "New dependency manager RC from commit: ${{ github.sha }}"
          git pull
          git push "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        working-directory: ./src/dependency-manager
      - name: npm publish (release candidate)
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_PUBLISH_TOKEN }}" > .npmrc
          npm publish --tag ${PRERELEASE_PREFIX}
        working-directory: ./src/dependency-manager
